.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.no-items-message {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #555;
}
